<div>
    <div class="d-flex justify-content-between align-items-center mb-3"
        [style.padding]="(view==='grid') ? '0px':'12px 12px 0px 12px'"
        [style.padding]="(view==='grid') ? '0px':'12px 12px 0px 12px'">
        <div nz-col nzSpan="5">
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize='large'>
                <input type="text" nz-input placeholder="Search" />
            </nz-input-group>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <i nz-icon (click)="toggleView('list')" class="mr-3 mb-0 pb-0" nzType="unordered-list"
                [style.color]="view==='list'?'rgb(24, 144, 255)':'inherit'" style="font-size: 24px;cursor: pointer;"
                nzTheme="outline"></i>

            <i nz-icon (click)="toggleView('grid')" class="mr-3 mb-0 pb-0" [nzTheme]="view==='grid'?'twotone':'outline'"
                style="font-size: 24px;cursor: pointer;" nzType="appstore"></i>

            <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)"><i nz-icon
                    nzType="plus"></i>Add User</button>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>

    <div *ngIf="view==='grid'&&removeWhitebg()" class="mb-3">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="6" class="mb-3" *ngFor="let user of users | async">
                <nz-card nzHoverable [nzCover]="coverTemplate">
                    <div class="d-flex justify-content-center">
                        <nz-avatar class="shadow mx-auto" style="margin-top:-135px;border-radius:50%" [nzSize]="128"
                            nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                        </nz-avatar>
                    </div>
                    <nz-card-meta [nzTitle]="extraTemplate"></nz-card-meta>
                    <div class="my-3">
                        <div class="px-3 py-1 bg-button-grey color-orange shadow-sm d-inline-block text-capitalize">
                            {{user.role}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0 text-capitalize">
                            <i nz-icon
                                [ngClass]="{'color-green': user.status==='active','color-inactive':user.status==='inactive'}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                    <g id="Ellipse_241" data-name="Ellipse 241" fill="currentcolor" stroke="#13cbb4"
                                        stroke-width="0">
                                        <circle cx="6" cy="6" r="6" stroke="none" />
                                        <circle cx="6" cy="6" r="5.5" fill="none" />
                                    </g>
                                </svg>
                            </i>
                            {{user.status}}
                        </p>
                        <p class="mb-0">
                            5 min ago
                        </p>
                    </div>
                </nz-card>
                <ng-template #coverTemplate>
                    <img style="height:140px" src="../../../assets/images/bg.jpg" alt="">
                    <img style="height:140px" *ngIf="user.cover_image" alt="example" [src]="user.image" />
                </ng-template>
                <ng-template #extraTemplate>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-capitalize mb-0">
                                {{user.firstName}} {{user.lastName}}
                            </p>
                            <p class="ant-card-meta-description text-capitalize ng-star-inserted"
                                style="font-size:14px">
                                {{user.email}}
                            </p>
                        </div>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            <i nz-icon nzType="more" nzTheme="outline"></i>
                        </a>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>View</li>
                            <li nz-menu-item>Edit</li>
                            <li nz-menu-item>Delete</li>
                        </ul>
                    </nz-dropdown-menu>
                </ng-template>

            </div>
        </div>
        <div class="d-flex justify-content-between py-3 align-items-center">
            <p class="pagination-color pl-3 mb-0">Showing <b class="proxima_novabold">1</b> to <b
                    class="proxima_novabold">8</b> of <b>8</b> Users</p>
            <nz-pagination [nzPageIndex]="3" [nzTotal]="8" nzShowSizeChanger [nzPageSize]="10">
            </nz-pagination>
        </div>
    </div>
    <div *ngIf="view==='list'&& addWhitebg()" class="mb-3">
        <nz-table class="full-stretch-table" #borderedTable [nzData]="users | async" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th *ngFor="let column of columns" [nzWidth]="column.width" class="text-capitalize" nzLeft="0px">
                        {{column.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of borderedTable.data">
                    <td *ngFor="let column of columns">

                        <div *ngIf="column.template==='message_rate'">
                            <b class="proxima_novabold">
                                {{data[column.key]||0}}
                            </b> msg/sec
                        </div>
                        <div *ngIf="column.template==='action'">
                            <a><i nz-icon [nzType]=" 'eye' "></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a><i nz-icon [nzType]=" 'edit' "></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a><i nz-icon [nzType]=" 'delete' "></i></a>
                        </div>
                        <div *ngIf="column.template==='image'">
                            <div *ngIf="data[column.key]; else noImage">
                                <img [src]="data[column.key]" style="height:32px" alt="">
                            </div>
                            <ng-template #noImage>
                                <i nz-icon [nzType]=" 'file' "></i> NA
                            </ng-template>
                        </div>

                        <div *ngIf="column.template==='status'">
                            <nz-tag class="text-capitalize" [nzColor]="colrsDict[data[column.key]]">{{data[column.key]}}
                            </nz-tag>
                        </div>
                        <div *ngIf="!column.template">
                            {{data[column.key]}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="d-flex justify-content-between py-3 align-items-center">
            <p class="pagination-color pl-3 mb-0">Showing <b class="proxima_novabold">1</b> to <b
                    class="proxima_novabold">8</b> of <b>8</b> Users</p>
            <nz-pagination [nzPageIndex]="3" [nzTotal]="8" nzShowSizeChanger [nzPageSize]="10">
            </nz-pagination>
        </div>

    </div>


    <ng-template #tplTitle>
        <span>Add User</span>
    </ng-template>
    <ng-template #tplContent>
        <div class="mb-3 profile-upload">
            <img style="height:140px;width: 100%" src="../../../assets/images/bg.jpg" alt="">
            <div class="d-flex justify-content-center">
                <div style="margin-top:-50px">
                    <nz-upload style="border-radius: 50%" nzAction="https://jsonplaceholder.typicode.com/posts/"
                        nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1"
                        [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview">
                        <i nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">Picture</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                        </ng-template>
                    </nz-modal>
                </div>
            </div>
        </div>
        <div class="upload">
        </div>
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="12">

                <input class="mb-3" nz-input placeholder="First name" />
            </div>
            <div nz-col nzSpan="12">

                <input class="mb-3" nz-input placeholder="Last name" />
            </div>
            <div nz-col nzSpan="24">

                <input class="mb-3" nz-input placeholder="email" />
            </div>
        </div>


        <div class="mb-3">
            <h3>Roles ({{roles.length}})</h3>
            <nz-tag [nzColor]="'blue'" *ngFor="let role of roles; let i = index" [nzMode]="'closeable'"
                (nzAfterClose)="handleRoleClose(role)">
                {{ sliceRoleName(role) }}
            </nz-tag>
            <nz-tag [nzColor]="'blue'" *ngIf="!inputRoleVisible" class="editable-tag" nzNoAnimation
                (click)="showRoleInput()">
                <i nz-icon nzType="plus"></i> Add Role
            </nz-tag>
            <input #inputElement nz-input nzSize="small" *ngIf="inputRoleVisible" type="text"
                [(ngModel)]="inputRoleValue" style="width: 78px;" (blur)="handleRoleInputConfirm()"
                (keydown.enter)="handleRoleInputConfirm()" />
        </div>


    </ng-template>
    <ng-template #tplFooter>
        <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
            Add
        </button>
    </ng-template>
</div>