@font-face {
  font-family: "proxima_novabold";
  src: url("proxima/proximanova-bold-webfont.eot");
  src: url("./proxima/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./proxima/proximanova-bold-webfont.woff2") format("woff2"),
    url("./proxima/proximanova-bold-webfont.woff") format("woff"),
    url("./proxima/proximanova-bold-webfont.ttf") format("truetype"),
    url("./proxima/proximanova-bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaextrabold";
  src: url("./proxima/proximanova-extrabold-webfont.eot");
  src: url("./proxima/proximanova-extrabold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./proxima/proximanova-extrabold-webfont.woff2") format("woff2"),
    url("./proxima/proximanova-extrabold-webfont.woff") format("woff"),
    url("./proxima/proximanova-extrabold-webfont.ttf") format("truetype"),
    url("./proxima/proximanova-extrabold-webfont.svg#proxima_novaextrabold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaregular";
  src: url("./proxima/proximanova-regular-webfont.eot");
  src: url("./proxima/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./proxima/proximanova-regular-webfont.woff2") format("woff2"),
    url("./proxima/proximanova-regular-webfont.woff") format("woff"),
    url("./proxima/proximanova-regular-webfont.ttf") format("truetype"),
    url("./proxima/proximanova-regular-webfont.svg#proxima_novaregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novalight";
  src: url("./proxima/proximanova-light-webfont.eot");
  src: url("./proxima/proximanova-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./proxima/proximanova-light-webfont.woff2") format("woff2"),
    url("./proxima/proximanova-light-webfont.woff") format("woff"),
    url("./proxima/proximanova-light-webfont.ttf") format("truetype"),
    url("./proxima/proximanova-light-webfont.svg#proxima_novalight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novasemibold";
  src: url("./proxima/proximanova-semibold-webfont.eot");
  src: url("./proxima/proximanova-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./proxima/proximanova-semibold-webfont.woff2") format("woff2"),
    url("./proxima/proximanova-semibold-webfont.woff") format("woff"),
    url("./proxima/proximanova-semibold-webfont.ttf") format("truetype"),
    url("./proxima/proximanova-semibold-webfont.svg#proxima_novasemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
