<div class="m-4 F-set">
    <p>Let's create your new account.</p>
</div>
<div>
    <form nz-form class="login-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group>
                    <label>
                        <input required>
                        <span class="placeholder">Full Name</span>
                    </label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group>
                    <label>
                        <input required>
                        <span class="placeholder">Email</span>
                    </label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group>
                    <label>
                        <input required>
                        <span class="placeholder">Password</span>
                    </label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div>
            <button nz-button nzBlock nzSize="large" [nzType]="'primary'">CREATE
                ACCOUNT</button>
        </div>
        <nz-form-item nz-row class="register-area">
            <nz-form-control>
                <label nz-checkbox>
                    <span style="font-size: 12px;">I have read and accept the <a><span class="txt-dec">terms
                                and conditions</span></a></span>
                </label>
            </nz-form-control>
        </nz-form-item>
        <div class="login-form-forgot1">
            <span>Have an account already?</span><a [routerLink]="['/auth/signin']" class="pl-1">Sign in</a>
        </div>
    </form>
</div>