<div>
    <div class="d-flex justify-content-between align-items-center mb-3"
        [style.padding]="(view==='grid') ? '0px':'12px 12px 0px 12px'"
        [style.padding]="(view==='grid') ? '0px':'12px 12px 0px 12px'">
        <div nz-col nzSpan="5">
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize='large'>
                <input type="text" nz-input placeholder="Search" />
            </nz-input-group>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <i nz-icon (click)="toggleView('list')" class="mr-3 mb-0 pb-0" nzType="unordered-list"
                [style.color]="view==='list'?'rgb(24, 144, 255)':'inherit'" style="font-size: 24px;cursor: pointer;"
                nzTheme="outline"></i>

            <i nz-icon (click)="toggleView('grid')" class="mr-3 mb-0 pb-0" [nzTheme]="view==='grid'?'twotone':'outline'"
                style="font-size: 24px;cursor: pointer;" nzType="appstore"></i>

            <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)"><i nz-icon
                    nzType="plus"></i>Add Role</button>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>

    <div *ngIf="view==='grid'&& removeWhitebg()" class="mb-3">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="6" class="mb-3" *ngFor="let role of roles | async">
                <nz-card nzHoverable nzBordered="false">
                    <nz-card-meta [nzTitle]="extraTemplate"></nz-card-meta>
                    <div class="my-3">
                        <div class="px-3 py-1 bg-button-grey color-orange shadow-sm d-inline-block">
                            <b class="proxima_novaextrabold">
                                {{role.users}}
                            </b>
                            Users</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0 text-capitalize">
                            <i nz-icon
                                [ngClass]="{'color-green': role.status==='active','color-inactive':role.status==='inactive'}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                    <g id="Ellipse_241" data-name="Ellipse 241" fill="currentcolor" stroke="#13cbb4"
                                        stroke-width="0">
                                        <circle cx="6" cy="6" r="6" stroke="none" />
                                        <circle cx="6" cy="6" r="5.5" fill="none" />
                                    </g>
                                </svg>
                            </i>
                            {{role.status}}
                        </p>
                        <p class="mb-0">
                            5 min ago
                        </p>
                    </div>
                </nz-card>
                <ng-template #extraTemplate>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-capitalize mb-0">{{role.name}}</p>
                            <p class="ant-card-meta-description ng-star-inserted" style="font-size:14px">
                                {{role.description}}
                            </p>
                        </div>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            <i nz-icon nzType="more" nzTheme="outline"></i>
                        </a>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>View</li>
                            <li nz-menu-item>Edit</li>
                            <li nz-menu-item>Delete</li>
                        </ul>
                    </nz-dropdown-menu>
                </ng-template>

            </div>
        </div>
        <div class="d-flex justify-content-between py-3 align-items-center">
            <p class="pagination-color pl-3 mb-0">Showing <b class="proxima_novabold">1</b> to <b
                    class="proxima_novabold">8</b> of <b>8</b> Roles</p>
            <nz-pagination [nzPageIndex]="3" [nzTotal]="8" nzShowSizeChanger [nzPageSize]="10">
            </nz-pagination>
        </div>
    </div>
    <div *ngIf="view==='list'&&addWhitebg()" class="mb-3">
        <nz-table class="full-stretch-table" #borderedTable [nzData]="roles | async" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th *ngFor="let column of columns" [nzWidth]="column.width" class="text-capitalize" nzLeft="0px">
                        {{column.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of borderedTable.data">
                    <td *ngFor="let column of columns">
                        <div *ngIf="column.template==='action'">
                            <a><i nz-icon [nzType]=" 'eye' "></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a><i nz-icon [nzType]=" 'edit' "></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a><i nz-icon [nzType]=" 'delete' "></i></a>
                        </div>
                        <div *ngIf="column.template==='image'">
                            <div *ngIf="data[column.key]; else noImage">
                                <img [src]="data[column.key]" style="height:32px" alt="">
                            </div>
                            <ng-template #noImage>
                                <i nz-icon [nzType]=" 'file' "></i> NA
                            </ng-template>
                        </div>
                        <div *ngIf="column.template==='status'">
                            <nz-tag class="text-capitalize" [nzColor]="colrsDict[data[column.key]]">{{data[column.key]}}
                            </nz-tag>
                        </div>

                        <div *ngIf="!column.template">
                            {{data[column.key]}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="d-flex justify-content-between py-3 align-items-center">
            <p class="pagination-color pl-3 mb-0">Showing <b class="proxima_novabold">1</b> to <b
                    class="proxima_novabold">8</b> of <b>8</b> Roles</p>
            <nz-pagination [nzPageIndex]="3" [nzTotal]="8" nzShowSizeChanger [nzPageSize]="10">
            </nz-pagination>
        </div>

    </div>


    <ng-template #tplTitle>
        <span>Add Role</span>
    </ng-template>
    <ng-template #tplContent>
        <div class="mb-3">
            <input class="mb-3" nz-input placeholder="Role name" />
            <textarea rows="3" nz-input placeholder="Awesome Description"></textarea>
        </div>

        <div class="mb-3">
            <h3>Permissions ({{permissions.length}})</h3>
            <nz-tag [nzColor]="'blue'" *ngFor="let permission of permissions; let i = index" [nzMode]="'closeable'"
                (nzAfterClose)="handlePermissionClose(permission)">
                {{ slicePermissionName(permission) }}
            </nz-tag>
            <nz-tag [nzColor]="'blue'" *ngIf="!inputPermissionVisible" class="editable-tag" nzNoAnimation
                (click)="showPermissionInput()">
                <i nz-icon nzType="plus"></i> Add Permission
            </nz-tag>
            <input #inputElement nz-input nzSize="small" *ngIf="inputPermissionVisible" type="text"
                [(ngModel)]="inputPermissionValue" style="width: 78px;" (blur)="handlePermissionInputConfirm()"
                (keydown.enter)="handlePermissionInputConfirm()" />
        </div>


    </ng-template>
    <ng-template #tplFooter>
        <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
            Add
        </button>
    </ng-template>
</div>