<div class="m-4 F-set">
    <p>Welcome back. Sign In below.</p>
</div>
<div>
    <form nz-form class="login-form">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                    <label>
                        <input [(ngModel)]="email" name="email" required>
                        <span class="placeholder">Email
                            <span class="pl-2 text-danger" *ngIf="errors.email">
                                - {{errors.email}}
                            </span>
                        </span>
                    </label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                    <label>
                        <input [(ngModel)]="password" name="password" required type="password">
                        <span class="placeholder">Password
                            <span class="pl-2 text-danger" *ngIf="errors.password">
                                - {{errors.password}}
                            </span>
                        </span>
                    </label>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div>
            <button nz-button nzSize="large" [disabled]="[email,password].includes('')" nzBlock
                (click)="signIn(email,password)" [nzType]="[email,password].includes('')?'':'primary'">SIGN IN</button>
        </div>
        <div class="login-form-forgot">
            <a [routerLink]="['/auth/forgot-password']">Forgot password</a>
        </div>
        <div class="login-form-forgot1">
            <span>Don't have a account?</span><a [routerLink]="['/auth/signup']">Register Here</a>
        </div>
        <div class="login-form-forgot2">
            <p>By continuing, you agree to our <br> <span class="txt-dec">Terms & Conditions</span> and <span
                    class="txt-dec">Privacy Policy</span></p>
        </div>

    </form>
</div>