<div>
    <div class="d-flex justify-content-start align-items-center mb-3">
        <div nz-col nzSpan="5">
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize='large'>
                <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
        </div>
    </div>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>

    <div class="mb-3">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="6" class="mb-3" *ngFor="let alert of alerts | async">
                <nz-card nzHoverable nzBordered="false">
                    <nz-card-meta [nzTitle]="extraTemplate"></nz-card-meta>
                    <div class="my-4 d-flex justify-content-center">
                        <h1 class="h1 font-weight-normal">{{alert.alerts}}
                            <sup style="font-size:12px;vertical-align: super;">
                                Alerts
                            </sup>
                        </h1>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <i class="ml-2" *ngIf="alert.emails>0" nz-icon nzType="mail"></i>
                            <i class="ml-2" *ngIf="alert.smss>0" nz-icon nzType="message"></i>
                            <i class="ml-2" *ngIf="alert.webhooks>0" nz-icon nzType="global"></i>
                        </div>
                        <p class="mb-0">
                            5 min ago
                        </p>
                    </div>
                </nz-card>
                <ng-template #extraTemplate>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="text-capitalize mb-0">{{alert.name}}</p>
                            <p class="ant-card-meta-description ng-star-inserted">
                                {{alert.description}}
                            </p>
                        </div>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            <i nz-icon nzType="more" nzTheme="outline"></i>
                        </a>
                    </div>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>View</li>
                            <li nz-menu-item>Edit</li>
                            <li nz-menu-item>Delete</li>
                        </ul>
                    </nz-dropdown-menu>
                </ng-template>

            </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <p>Showing <b>1</b> to <b>8</b> of <b>8</b> Alerts</p>
            <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
        </div>
    </div>
</div>