<div *ngIf="removeWhitebg" nz-row nzGutter="16" class="mb-3" nzType="flex" nzJustify="around" nzAlign="stretch">
    <div *ngIf="stats | async as statsArr; else loading" style="width: 100%;">
        <div nz-col *ngFor="let item of statsArr" nzSpan="4">
            <nz-card nzHoverable class="text-center proxima_novalight">
                <div class="text-grey text-uppercase">{{item.key}}</div>
                <h1 class="h1 font-weight-normal mt-3 mb-0 pb-0">{{item.value}}</h1>
            </nz-card>
        </div>
    </div>
    <ng-template #loading>
        <div nz-col class="mb-3" *ngFor="let item of '123456'.split('')" nzSpan="4">
            <nz-card nzHoverable>
                <nz-skeleton [nzLoading]="true" [nzActive]="true">
                    <!-- <nz-card-meta nzTitle="Card title"></nz-card-meta> -->
                </nz-skeleton>
            </nz-card>
        </div>
    </ng-template>
</div>
<div nz-row nzGutter="16" nzType="flex" nzJustify="around" nzAlign="stretch" class="mb-3 proxima_novalight">
    <div nz-col nzXs="12">
        <nz-card nz-col class="mb-3" [nzBordered]="false">
            <canvas baseChart [width]="400" [height]="200" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </nz-card>
        <nz-card nz-col [nzBordered]="false">
            <canvas baseChart width="400" height="200" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend2"
                [chartType]="lineChartType2" [plugins]="lineChartPlugins2" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </nz-card>
    </div>
    <div nz-col nzXs="12">
        <nz-card nzBordered="false" style="height:100%;width:100%;">
            <nz-card-meta nzTitle="Activity" class="proxima_novalight"></nz-card-meta>
            <div class="mt-4">
                <div *ngFor="let i of '1234'.split('')" class="px-3 mb-3 bg-grey" style="position: relative;">
                    <div class="d-flex align-items-center py-4">
                        <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                        </nz-avatar>
                        <p class="mb-0 ml-2 proxima_novaregular">Performed x action</p>
                    </div>
                    <p class="text-right font-weight-light text-muted mb-0 proxima_novaregular"
                        style="font-size:12px;position:absolute;right:8px;bottom:8px">26-Feb 2020</p>
                </div>
            </div>
        </nz-card>
    </div>
</div>